.map { height: 600px; }

.leaflet-draw-section {
	display: inline-block;
}

.leaflet-draw-toolbar {
	margin: 0 12px 0 0;
}

.leaflet-marker-custom-title-wrap {
	position:relative;
	padding-right: 25px;
}

.leaflet-marker-edit-descr {
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	background: #ddd url(../images/edit-button.png) center center no-repeat;
	cursor: pointer;
}

